<!-- Start Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 align-items-center d-lg-flex">
        <a href="http://cesardenis.com" class="logo">{{ site.title }} | {{ site.description }}</a>
        <p>
          <span class="designed-by-me">Designed and built with <i class="fa fa-heart faa-pulse animated"></i>.</span>
          <span class="copy"> &copy; {{ site.author.name }} {{ site.time | date: '%Y' }}. All rights reserved.</span>
        </p>
        <div class="social-links ml-auto">
          <a href="https://twitter.com/{{ site.author.twitter }}"><i class="fa fa-twitter"></i></a>
          <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a>
          <a href="https://github.com/{{ site.author.github }}" target="_blank"><i class="fa fa-github"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>