// center vertically and/or horizontally an absolute positioned element

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }
}

@mixin fontSize($size) {
  font-size: calculateRem($size);
}

@mixin button-color-variant($color) {
  color: $black;
  background-color: transparent;
  background-image: none;
  border-color: $color;

  @include hover {
    color: $color;
    background-color: $black;
    border-color: $black;
  }

  &:focus,
  &.focus {
    box-shadow: 0 0 0 3px rgba($color, .5);
  }

  &.disabled,
  &:disabled {
    color: $color;
    background-color: transparent;
  }

  &:active,
  &.active,
  .show > &.dropdown-toggle {
    color: $color;
    background-color: $black;
    border-color: $black;
  }
}