.form-container {
	margin: 0 auto;
	padding: 44px 0 0;
	width: 95%;

	form {
		input[type=text],
		input[type=url],
		input[type=email] {
			margin-bottom: 32px;
		}

		textarea {
			min-height: 180px;
		}			
		input[type=submit] {
			margin-top: 30px;
		}
	}	

	@include media-breakpoint-up(md) { 
		width: 80%;
	}

	@include media-breakpoint-up(xl) { 
		margin: 0 auto;
		padding: 50px 0 0;
		width: 50%;
	}

	p.required {
		margin-top: 12px;
		color: rgba($white,0.7);
		@include fontSize(13px);
	}
}