section {
  background-color: $background-color;
  padding: calculateRem(50px) 0;

  @include media-breakpoint-up(sm) { 
    padding: calculateRem(65px) 0;
  }

  @include media-breakpoint-up(md) { 
    padding: calculateRem(80px) 0;
  }

  @include media-breakpoint-up(lg) { 
    padding: calculateRem(100px) 0;
  }
}

.section-title {
  @include fontSize(20px);
  margin: 0 0 calculateRem(18px);
  line-height: 1.4;
  font-weight: 900;

  @include media-breakpoint-up(md) { 
      @include fontSize(32px);
      margin: 0 0 calculateRem(20px);
  }
}

p.lead {
  @include fontSize(16px);
  margin: 0 0 calculateRem(25px);
  
  @include media-breakpoint-up(md) {
    @include fontSize(20px);
  }
}

