---
layout: default
---

<!-- Start Hero Section -->
<div id="fullscreen-hero">
  <div class="hero-container">
    <div class="hero-content">
      <p class="hero-hello cd-headline letters type">
        <span class="cd-words-wrapper">
          <b class="is-visible">Hello,</b>
          <b>Olá,</b>
          <b>今日は,</b>
          <b>Salut,</b>
        </span>
        <span>my name is</span>
      </p>
      <h1>Cesar Denis</h1>
      <p class="hero-about">I'm a web designer & front‑end developer focused on crafting clean & user‑friendly experiences.</p>
      <div class="page-scroll learn-more">
        <a href="#me"><i class="fa fa-angle-down"></i></a>
      </div>
    </div>
  </div>
</div>

<!-- Start About Section -->
<section id="me">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h3 class="section-title">About Me</h3>
        <p class="lead text-gray-dark">I craft beautiful, intuitive and functional design to help in your project.</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <p>I'm web designer & front-end developer based in São Paulo with 10 years of professional experience. I like to learn new technologies and integrate them into something usable.  I like to designing web, mobile & tablet interfaces.</p>
        <p>Currently working as a freelancer, but I'm looking for new challenges, I would like to participate in agile teams focused on product.</p>
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-md-8 text-center">
        <h4 class="section-subtitle">Main skills</h4>
        <p>
          <span class="badge badge-outline-red">HTML(5)</span>
          <span class="badge badge-outline-red">CSS(3)</span>
          <span class="badge badge-outline-red">JS</span>
          <span class="badge badge-outline-red">Sass</span>
          <span class="badge badge-outline-red">Less</span>
          <span class="badge badge-outline-red">NPM</span>
          <span class="badge badge-outline-red">Node.js</span>
          <span class="badge badge-outline-red">React</span>
          <span class="badge badge-outline-red">Redux</span>
          <span class="badge badge-outline-red">Wordpress</span>
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Start Work Section -->
<section id="work">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h3 class="section-title">My Work</h3>
        <p class="lead text-gray-dark">Some of my latest works.</p>
      </div>
    </div>
    {% for project in site.data.projects %}
      <div class="project-showcase">
        <div class="row">
          <div class="col-md-12">
            <div class="project-content text-center">
              <h5 class="project-title">{{ project.title }}</h5>
              <p class="project-tags">{{ project.tags }}</p>
              <p class="project-description">{{ project.description }}</p>
              <a href="{{ project.url }}" target="_blank" class="btn btn-color-red btn-circle">{% if project.button %}{{ project.button }}{% else %}Visit Website{% endif %}</a>
              <img src="/assets/images/{{ project.image }}" class="project-image img-fluid">
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

<!-- Start Contact Section -->
<section id="contact" class="cd-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h3 class="section-title">Contact</h3>
        <p class="lead">Whether you’d like to discuss a project, ask me about my website or simply say “hello”, I’d love to hear from you.</p>
      </div>
    </div>
    <div class="form-container">
      <form accept-charset="UTF-8" action="https://usebasin.com/f/ea7f37833467" method="POST">
        <div class="row">
          <div class="col-md-6">
            <input id="name" type="text" name="name" placeholder="Name *" required="" class="full-width">
          </div>
          <div class="col-md-6">
            <input id="email" type="email" name="email" placeholder="Email address *" required="" class="full-width">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <input id="phone" type="text" name="phone" placeholder="Phone number" class="full-width">
          </div>
          <div class="col-md-6">
            <input id="website" type="url" name="website" placeholder="Website" class="full-width">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <textarea id="Message" name="message" placeholder="Message *" required="" class="full-width"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <input type="submit" value="Submit Your Project" class="btn btn-ghost-black btn-circle">
            <p class="required">* Required</p>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
