---
layout: default
---

<!-- Start Hero Section -->
<div id="fullscreen-hero">
  <div class="hero-container">
    <div class="hero-content">
      <p class="hero-hello cd-headline letters type">
        <span class="cd-words-wrapper">
          <b class="is-visible">Hello,</b>
          <b>Olá,</b>
          <b>今日は,</b>
          <b>Salut,</b>
        </span>
        <span>my name is</span>
      </p>
      <h1>Cesar Denis</h1>
      <p class="hero-about">I'm a web designer & front‑end developer focused on crafting clean & user‑friendly experiences.</p>
      <div class="page-scroll learn-more">
        <a href="#me"><i class="fa fa-angle-down"></i></a>
      </div>
    </div>
  </div>
</div>

<!-- Start Experience Section -->
<section id="me">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h3 class="section-title">My Expertise</h3>
        <p class="lead text-gray-dark">I participate in all phases of the design process.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="expertise-block">
          <i class="fa fa-diamond text-primary"></i>
          <h4 class="title">Ideas</h4>
          <p class="summary">I collaborate with clients and peers to nurture and transform ideas into well thought out design specs. After all, that's where the majority of amazing user experiences start.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="expertise-block">
          <i class="fa fa-magic text-primary"></i>
          <h4 class="title">UX/UI</h4>
          <p class="summary">I sketch and wireframe interfaces focusing on content structure, intuitive UI patterns and simple interactions. I'm a minimalist who truly believes that less is more.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="expertise-block">
        <i class="fa fa-code text-primary"></i>
          <h4 class="title">Code</h4>
          <p class="summary">I design in the browser with HTML(5), CSS(3) and a touch of JavaScript. I love coding things from scratch, but I can work with front-end frameworks like Bootstrap too.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Start Work Section -->
<section id="work">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h3 class="section-title">My Work</h3>
        <p class="lead text-gray-dark">Some of my latest works.</p>
      </div>
    </div>
    {% for project in site.data.projects %}
      <div class="project-showcase">
        <div class="row">
          <div class="col-md-12">
            <div class="project-content text-center">
              <h5 class="project-title">{{ project.title }}</h5>
              <p class="project-tags">{{ project.tags }}</p>
              <p class="project-description">{{ project.description }}</p>
              <a href="{{ project.url }}" target="_blank" class="btn btn-color-red btn-circle">{% if project.button %}{{ project.button }}{% else %}Visit Website{% endif %}</a>
              <img src="/assets/images/{{ project.image }}" class="project-image img-fluid">
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

<!-- Start Contact Section -->
<section id="contact" class="cd-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h3 class="section-title">Contact</h3>
        <p class="lead">Whether you’d like to discuss a project, ask me about my website or simply say “hello”, I’d love to hear from you.</p>
      </div>
    </div>
    <div class="form-container">
      <form accept-charset="UTF-8" action="https://usebasin.com/f/ea7f37833467" method="POST">
        <div class="row">
          <div class="col-md-6">
            <input id="name" type="text" name="name" placeholder="Name *" required="" class="full-width">
          </div>
          <div class="col-md-6">
            <input id="email" type="email" name="email" placeholder="Email address *" required="" class="full-width">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <input id="phone" type="text" name="phone" placeholder="Phone number" class="full-width">
          </div>
          <div class="col-md-6">
            <input id="website" type="url" name="website" placeholder="Website" class="full-width">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <textarea id="Message" name="message" placeholder="Message *" required="" class="full-width"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <input type="submit" value="Submit Your Project" class="btn btn-ghost-black btn-circle">
            <p class="required">* Required</p>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<!-- Start Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 align-items-center d-lg-flex">
        <a href="http://cesardenis.com" class="logo">{{ site.title }} | {{ site.description }}</a>
        <p>
          <span class="designed-by-me">Designed and built with <i class="fa fa-heart faa-pulse animated"></i>.</span>
          <span class="copy"> &copy; {{ site.author.name }} {{ site.time | date: '%Y' }}. All rights reserved.</span>
        </p>
        <div class="social-links ml-auto">
          <a href="https://twitter.com/{{ site.author.twitter }}"><i class="fa fa-twitter"></i></a>
          <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a>
          <a href="https://github.com/{{ site.author.github }}" target="_blank"><i class="fa fa-github"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>